@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/011/596/673/non_2x/comic-style-background-with-halftone-effect-superhero-poster-backdrop-vintage-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}
body::-webkit-scrollbar {
    display: none;
}

#container-buscar {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 10px;
    p {
        font-size: 42px;
        text-decoration: none;
        color: white;
        background-color: rgb(167, 1, 1);
        border-radius: 5px;
        padding: 5px;
    }
    input {
        width: 40%;
        height: 6vh;
        border-radius: 5px;
        background-color: aqua;
        border: none;
        font-size: 30px;
    }
}

.btn {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}
.btn.desactivado {
    opacity: 50%;
    pointer-events: none;
}
#cards {
    height: 94vh;
    border-radius: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    overflow: scroll;
}
#cards::-webkit-scrollbar {
    display: none;
}
#btn-ver-mas {
        text-decoration: none;
        padding: 5px;
        display: flex;
        justify-content: center;
        color: black;
        background-color: rgb(255, 106, 106);
        border-radius: 5px;
    }
@media (max-width: 500px) {
            #cards {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                width: fit-content;
            }
        }